body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}

h1{
    font-size: 50px;
}
.name-clr{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding left:2% ;

}
.half-width img{
    width: 100%;
    padding-left: 5%;
}
.top-banner{
    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
section{
    border: 10px solid purple;
    height: 700px;
    margin:5px;
}
.button{
    text-decoration: none;
    
    padding:10px 20px;
   background-image: linear-gradient(45deg, lightsalmon,tomato );
    color: white;
    border border-radius: 4px;
}
.sec-half{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;

}
.sec-half img{
    width: 100%;
    padding-right: 5%;
}
